/* Загальні стилі для всього документа */
body {
    background: #8C52FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Стилі контейнера з погодою */
#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

/* Стилі для заголовка та інших текстових елементів */
h2, label, p {
    color: #fff;
    margin: 8px 0;
}

/* Стилі для вводу тексту */
input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

/* Стилі для кнопки */
button {
    background: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    transition: background 0.5s ease; /* Плавний перехід кольору при наведенні */
}

button:hover {
    background: #8b48d7;
}

/* Стилі для відображення температури */
#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

/* Стилі для інформації про погоду */
#weather-info {
    font-size: 20px;
}

/* Стилі для іконки погоди */
#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

/* Стилі для похвилинного прогнозу */
#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

/* Стилі для елемента похвилинного прогнозу */
.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

/* Стилі для заголовка похвилинного прогнозу */
#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

/* Стилі для смуги прокрутки (скролбару) */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Стилі для навігаційного меню */
navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}

/* Стилі для анімації підкреслення посилань */
a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

/* Медіа-запит для екранів з висотою до 300px */
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
